{% extends 'user/base.html' %}

{% block content %}
{% load static %}

<!-- <div class="container-fluid"> -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
            <!-- Brand -->
            
    <!-- Header -->
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(../../../static/base/caraousel.png); background-size: cover; background-position: center bottom;">
        <!-- Mask -->
        <!-- <span class="mask bg-gradient-default opacity-8"></span> -->
        <!-- Header container -->
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--7" >
        <div class="row card bg-secondary shadow">
            <!-- <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
                <div class="card card-profile shadow">
                    <div class="card-body pt-0 pt-md-4">
                        <div class="text-center">
                            <h3>
                                <span class="font-weight-light">, 27</span>
                            </h3>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- <div class="col-12 order-xl-1">
                <div class="card bg-secondary shadow"> -->
                    <div class="card-body">
                        <form class="" method="POST" action="{% url 'user:profile' %}" >
                            {% csrf_token %}
                            <h6 class="heading-small text-muted mb-4">User information</h6>
                            <div class="card-header bg-white border-0">
                                <div class="row align-items-center">
                                    <div class="col-8">
                                        <h3 class="mb-0">My account</h3>
                                    </div>
                                    <div class="col-4 text-right">
                                        <button type = "submit" class="btn btn-sm btn-primary">Update
                                        </button>
                                    </div>
                                </div>
                            </div>


                            <div class="pl-lg-4">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group focused">
                                            <label class="form-control-label" for="input-title">Title</label>
                                            <input type="text" id="input-title" class="form-control form-control-alternative" placeholder="Title" value="{{title}}" name = "title">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group focused">
                                            <label class="form-control-label" for="input-description">Description</label>
                                            <input type="text" id="input-description" class="form-control form-control-alternative" placeholder="Description" value="{{description}}" name = "description">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group focused">
                                            <label class="form-control-label" for="input-start-date">Start Date</label>
                                            <input type="date" id="input-start-date" class="form-control form-control-alternative" value="{{start_date}}" name="start_date">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group focused">
                                            <label class="form-control-label" for="input-end-date">End Date</label>
                                            <input type="date" id="input-end-date" class="form-control form-control-alternative" value="{{end_date}}" name="end_date">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-drive-link">Drive Link</label>
                                            <input type="text" id="input-drive-link" class="form-control form-control-alternative" placeholder="Drive-link" value = "{{drive_link}}" name = "drive_link">
                                        </div>
                                    </div>
                                </div>
                               <!--  <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group focused">
                                            <label class="form-control-label" for="input-gender">Gender</label>
                                            <input type="text" id="input-gender" class="form-control form-control-alternative" value="{{gender}}" name="gender">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group focused">
                                            <label class="form-control-label" for="input-dob">Date of Birth</label>
                                            <input type="text" id="input-dob" class="form-control form-control-alternative" value="{{dob}}" disabled>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                            <!-- <hr class="my-4"> -->
                            <!-- Address -->
                            <!-- <h6 class="heading-small text-muted mb-4">Contact information</h6>
                            <div class="pl-lg-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group focused">
                                            <label class="form-control-label" for="input-address">Address</label>
                                            <input id="input-address" class="form-control form-control-alternative" placeholder="Home Address" value="{{address}}" type="text" name = "address">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group focused">
                                            <label class="form-control-label" for="input-mobile">Mobile</label>
                                            <input type="text" id="input-mobile" class="form-control form-control-alternative" placeholder="Mobile No." value="{{mobile}}" name = "mobile">
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </form>
                    </div>
                    <div class="col-xl-12 order-xl-1">
                        <div class="card bg-secondary shadow">
                            <div class="card-body">
                                <div class="form-popup" id="myForm">
                                </div>
                                <button class="btn btn-sm btn-primary" onclick="openForm()">+</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- </div> -->
    <!-- </div>
</div> -->

{% endblock %}

{% block javascript %}
<script type="text/javascript">

var cntbook = 0;

function book(cnt)
{
var codeblock = '<form action="/action_page.php" class="form-container">' +
 '<div class="text-muted mb-4">'+ 'Booking ' + cnt + '</div>' +

                                    '<div class="form-group">' + 
                                        '<label class="form-control-label" for="input-drive-link">Drive Link</label>' + 
                                        '<input type="text" id="input-drive-link" class="form-control form-control-alternative" placeholder="Drive-link" value = "{{drive_link}}" name = "drive_link">' +
                                    '</div>' + 
                                    '<button type="button" class="btn btn-sm btn-danger" onclick="closeForm()">-</button>' + 
                                  '</form>';

                                  return codeblock;
                              }
function openForm() 
{
    var codeblocks = "";
    cntbook++;
    for (var i = 0; i < cntbook; i++) {
      codeblocks += book(i+1);
  }
  document.getElementById("myForm").innerHTML = codeblocks;
  // document.getElementById("cntbook").innerHTML = "Booking " + cntbook.toString();

}

function closeForm() 
{
    var codeblocks = "";
  cntbook--;
  for (var i = 0; i < cntbook; i++) {
      codeblocks += book(i+1);
  }
  document.getElementById("myForm").innerHTML = codeblocks;
}

</script>
{% endblock javascript %}