{% extends 'user/base.html' %}

{% block content %}
{% load static %}

<!-- <div class="container-fluid"> -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
<!-- Brand -->

<!-- Header -->
<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
    style="min-height: 600px; background-image: url(../../../static/base/caraousel.png); background-size: cover; background-position: center bottom;">
    <!-- Mask -->
    <!-- <span class="mask bg-gradient-default opacity-8"></span> -->
    <!-- Header container -->
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <div class="row card bg-secondary shadow">
        <!-- <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
                <div class="card card-profile shadow">
                    <div class="card-body pt-0 pt-md-4">
                        <div class="text-center">
                            <h3>
                                <span class="font-weight-light">, 27</span>
                            </h3>
                        </div>
                    </div>
                </div>
            </div> -->
        <!-- <div class="col-12 order-xl-1">
                <div class="card bg-secondary shadow"> -->
        <div class="card-body">
            <form class="" method="POST" action="{% url 'user:profile' %}">
                {% csrf_token %}
                <h6 class="heading-small text-muted mb-4">User information</h6>
                <div class="card-header bg-white border-0">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">My account</h3>
                        </div>
                        <div class="col-4 text-right">
                            <button type="submit" class="btn btn-sm btn-primary">Update
                            </button>
                        </div>
                    </div>
                </div>


                <div class="pl-lg-4">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group focused">
                                <label class="form-control-label" for="input-title">Title</label>
                                <input type="text" id="input-title" class="form-control form-control-alternative"
                                    placeholder="Title" value="{{title}}" name="title">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group focused">
                                <label class="form-control-label" for="input-description">Description</label>
                                <input type="text" id="input-description" class="form-control form-control-alternative"
                                    placeholder="Description" value="{{description}}" name="description">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group focused">
                                <label class="form-control-label" for="input-start-date">Start Date</label>
                                <input type="date" id="input-start-date" class="form-control form-control-alternative"
                                    value="{{start_date}}" name="start_date">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group focused">
                                <label class="form-control-label" for="input-end-date">End Date</label>
                                <input type="date" id="input-end-date" class="form-control form-control-alternative"
                                    value="{{end_date}}" name="end_date">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="input-drive-link">Drive Link</label>
                                <input type="text" id="input-drive-link" class="form-control form-control-alternative"
                                    placeholder="Drive-link" value="{{drive_link}}" name="drive_link">
                            </div>
                        </div>
                    </div>
                    <!--  <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group focused">
                                            <label class="form-control-label" for="input-gender">Gender</label>
                                            <input type="text" id="input-gender" class="form-control form-control-alternative" value="{{gender}}" name="gender">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group focused">
                                            <label class="form-control-label" for="input-dob">Date of Birth</label>
                                            <input type="text" id="input-dob" class="form-control form-control-alternative" value="{{dob}}" disabled>
                                        </div>
                                    </div>
                                </div> -->
                </div>
                <!-- <hr class="my-4"> -->
                <!-- Address -->
                <!-- <h6 class="heading-small text-muted mb-4">Contact information</h6>
                            <div class="pl-lg-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group focused">
                                            <label class="form-control-label" for="input-address">Address</label>
                                            <input id="input-address" class="form-control form-control-alternative" placeholder="Home Address" value="{{address}}" type="text" name = "address">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group focused">
                                            <label class="form-control-label" for="input-mobile">Mobile</label>
                                            <input type="text" id="input-mobile" class="form-control form-control-alternative" placeholder="Mobile No." value="{{mobile}}" name = "mobile">
                                        </div>
                                    </div>
                                </div> -->
        </div>
        </form>
    </div>
    <div class="col-xl-12 order-xl-1">
        <div class="card bg-secondary shadow">
            <div class="card-body">
                <h3 class="mb-0">Transport Booking</h3>
                    <form class="" method="POST" action="{% url 'user:profile' %}">
                    {% csrf_token %}
                    <div class="form-popup" id="myFormtransport">
                    </div>

                    <div class="outer">
                        <button type="button" class="btn btn-primary inner" onclick="transportopenForm()"> Add </button>
                        <button type="submit" class="btn btn-warning"> Update </button>
                    </div>
                    </form>
                </div>
        </div>
    </div>


    <div class="col-xl-12 order-xl-1">
        <div class="card bg-secondary shadow">
            <div class="card-body">
                <h3 class="mb-0">Hotel Booking</h3>
                    <form class="" method="POST" action="{% url 'user:profile' %}">
                    {% csrf_token %}
                    <div class="form-popup" id="myFormhotel">
                    </div>

                    <div class="outer">
                        <button type="button" class="btn btn-primary inner" onclick="hotelopenForm()"> Add </button>
                        <button type="submit" class="btn btn-warning"> Update </button>
                    </div>
                    </form>
                </div>
        </div>
    </div>



    <div class="col-xl-12 order-xl-1">
        <div class="card bg-secondary shadow">
            <div class="card-body">
                <h3 class="mb-0">Location Booking</h3>
                    <form class="" method="POST" action="{% url 'user:profile' %}">
                    {% csrf_token %}
                    <div class="form-popup" id="myFormlocation">
                    </div>

                    <div class="outer">
                        <button type="button" class="btn btn-primary inner" onclick="locationopenForm()"> Add </button>
                        <button type="submit" class="btn btn-warning"> Update </button>
                    </div>
                    </form>
            </div>
        </div>
    </div>



    <div class="col-xl-12 order-xl-1">
        <div class="card bg-secondary shadow">
            <div class="card-body">
                <h3 class="mb-0">Itinerary Booking</h3>
                    <form class="" method="POST" action="{% url 'user:profile' %}">
                    {% csrf_token %}
                    <div class="form-popup" id="myFormitinerary">
                    </div>

                    <div class="outer">
                        <button type="button" class="btn btn-primary inner" onclick="itineraryopenForm()"> Add </button>
                        <button type="submit" class="btn btn-warning"> Update </button>
                    </div>
                    </form>
            </div>
        </div>
    </div>



    
</div>
</div>
</div>
<!-- </div> -->
<!-- </div>
</div> -->

{% endblock %}

{% block javascript %}
<script type="text/javascript">

    var cntbook = 0;
    var hotelbook =0;
    var locationbook =0;
    var itinerarybook =0;

    function transport_book(cnt) {
        var codeblock = `
                <div class="card">
                <div class="card-body">
                    <h5 class="text-muted mb-4 card-title">Booking ${cnt}</h5>
                    <div class="pl-lg-4">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group focused">
                                <label class="form-control-label" for="input-title">Type</label>
                                <select type="text" id="input-title" class="form-control form-control-alternative"
                                     name="type">
                        <option>Train</option>
                        <option>Flight</option>
                        <option>Bus</option>
                      </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group focused">
                                <label class="form-control-label" for="input-cost">Cost</label>
                                <input type="number" id="input-cost" class="form-control form-control-alternative">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group focused">
                                <label class="form-control-label" for="input-start-date">Departure</label>
                                <input type="datetime-local" id="input-start-date" class="form-control form-control-alternative"
                                     name="Departure" required="required">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group focused">
                                <label class="form-control-label" for="input-end-date">Arrival</label>
                                <input type="datetime-local" id="input-end-date" class="form-control form-control-alternative"
                                     name="end_date" required="required">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="input-drive-link">From Location</label>
                                <input type="text" id="input-drive-link" class="form-control form-control-alternative">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="form-control-label" for="input-drive-link">To Location</label>
                                <input type="text" id="input-drive-link" class="form-control form-control-alternative">
                            </div>
                        </div>
                    </div>
                <button type="button" class="btn btn-danger" onclick="transportcloseForm()">Remove</button> 
                </div>
                </div>
                `

        return codeblock;
    }

    function hotel_book(cnt) {
        var codeblock = `
                <div class="card">
                <div class="card-body">
                    <h5 class="text-muted mb-4 card-title">Hotel ${cnt}</h5>
                    <div class="pl-lg-4">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group focused">
                                <label class="form-control-label" for="input-title">Hotel Name</label>
                                <select type="text" id="input-title" class="form-control form-control-alternative"
                                     name="type">
                        <option>Hotel 1</option>
                        <option>Hotel 2</option>
                        <option>Hotel 3</option>
                      </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group focused">
                                <label class="form-control-label" for="input-cost">Cost</label>
                                <input type="number" id="input-cost" class="form-control form-control-alternative">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group focused">
                                <label class="form-control-label" for="input-start-date">Check In</label>
                                <input type="datetime-local" id="input-start-date" class="form-control form-control-alternative"
                                     name="Departure" required="required">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group focused">
                                <label class="form-control-label" for="input-end-date">Check Out</label>
                                <input type="datetime-local" id="input-end-date" class="form-control form-control-alternative"
                                     name="end_date" required="required">
                            </div>
                        </div>
                    </div>
                <button type="button" class="btn btn-danger" onclick="hotelcloseForm()">Remove</button> 
                </div>
                </div>
                `

        return codeblock;
    }

    function location_book(cnt) {
        var codeblock = `
                <div class="card">
                <div class="card-body">
                    <h5 class="text-muted mb-4 card-title">Location ${cnt}</h5>
                    <div class="pl-lg-4">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group focused">
                                <label class="form-control-label" for="input-title">Location Name</label>
                                <select type="text" id="input-title" class="form-control form-control-alternative"
                                     name="type">
                        <option>Hotel 1</option>
                        <option>Hotel 2</option>
                        <option>Hotel 3</option>
                      </select>
                    </div>
                    </div>
                    </div>
                    </div> 
                <button type="button" class="btn btn-danger" onclick="locationcloseForm()">Remove</button> 
                </div>
                </div>
                `

        return codeblock;
    }

    function itinerary_book(cnt) {
        var codeblock = `
                <div class="card">
                <div class="card-body">
                    <h5 class="text-muted mb-4 card-title">Itinerary ${cnt}</h5>
                    <div class="pl-lg-4">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group focused">
                                <label class="form-control-label" for="input-title">Title</label>
                                <select type="text" id="input-title" class="form-control form-control-alternative"
                                     name="type">
                        <option>Location 1</option>
                        <option>Location 2</option>
                        <option>Location 3</option>
                      </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group focused">
                                <label class="form-control-label" for="input-cost">Cost</label>
                                <input type="number" id="input-cost" class="form-control form-control-alternative">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group focused">
                                <label class="form-control-label" for="input-start-date">Visit Time</label>
                                <input type="datetime-local" id="input-start-date" class="form-control form-control-alternative"
                                     name="Departure" required="required">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group focused">
                                <label class="form-control-label" for="input-address">Address</label>
                                <input type="text" id="input-address" class="form-control form-control-alternative">
                            </div>
                        </div>
                    </div> 
                <button type="button" class="btn btn-danger" onclick="itinerarycloseForm()">Remove</button> 
                </div>
                </div>
                `

        return codeblock;
    }

    function transportopenForm() {
        var codeblocks = "";
        cntbook++;
        for (var i = 0; i < cntbook; i++) {
            codeblocks += transport_book(i + 1);
        }
        document.getElementById("myFormtransport").innerHTML = codeblocks;

    }

    function transportcloseForm() {
        var codeblocks = "";
        cntbook--;
        for (var i = 0; i < cntbook; i++) {
            codeblocks += transport_book(i + 1);
        }
        document.getElementById("myFormtransport").innerHTML = codeblocks;
    }

    function hotelopenForm() {
        var hotelblocks = "";
        hotelbook++;
        for (var i = 0; i < hotelbook; i++) {
            hotelblocks += hotel_book(i + 1);
        }
        document.getElementById("myFormhotel").innerHTML = hotelblocks;

    }

    function hotelcloseForm() {
        var hotelblocks = "";
        hotelbook--;
        for (var i = 0; i < hotelbook; i++) {
            hotelblocks += hotel_book(i + 1);
        }
        document.getElementById("myFormhotel").innerHTML = hotelblocks;
    }

    function locationopenForm() {
        var locationblocks = "";
        locationbook++;
        for (var i = 0; i < locationbook; i++) {
            locationblocks += location_book(i + 1);
        }
        document.getElementById("myFormlocation").innerHTML = locationblocks;

    }

    function locationcloseForm() {
        var locationblocks = "";
        locationbook--;
        for (var i = 0; i < locationbook; i++) {
            locationblocks += location_book(i + 1);
        }
        document.getElementById("myFormlocation").innerHTML = locationblocks;
    }

    function itineraryopenForm() {
        var itineraryblocks = "";
        itinerarybook++;
        for (var i = 0; i < itinerarybook; i++) {
            itineraryblocks += itinerary_book(i + 1);
        }
        document.getElementById("myFormitinerary").innerHTML = itineraryblocks;

    }

    function itinerarycloseForm() {
        var itineraryblocks = "";
        itinerarybook--;
        for (var i = 0; i < itinerarybook; i++) {
            itineraryblocks += itinerary_book(i + 1);
        }
        document.getElementById("myFormitinerary").innerHTML = itineraryblocks;
    }


</script>
{% endblock javascript %}