{% extends 'user/base.html' %}

{% block content %}
{% load static %}
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}"> -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="container text-center">
  <h1>Notifications</h1>
</div>
<div class="container">
<div class="w3-card-4">
  <header class="w3-container w3-grey">
    <h4>Header</h4>
  </header>
  <div class="w3-container">
    <p>Lorem ipsum...</p>
  </div>
</div>
</div>

{% endblock %}